body {
  font-family: 'Lora', serif;
}

h1, h2, h3 {
  font-family: 'PT Sans', sans-serif;
}

#mainNav {
  margin: 0 0 0 0;
}

nav ul li {
  display: inline;
  padding-left: 2px;
  width: 100%;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav a:active {
  background-color: lightgray;
}

ul {
  margin: 10px auto;
  /*background: lightgray;*/
}
